[project]
	description = This is folder which is used to store examples in the contests of CodeChef.com.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dunglx (dunglx)
[access "refs/for/refs/*"]
	read = group user/dunglx (dunglx)
	push = group user/dunglx (dunglx)
	label-Code-Review = -2..+2 group user/dunglx (dunglx)
	label-Verified = -1..+1 group user/dunglx (dunglx)
	rebase = group user/dunglx (dunglx)
	removeReviewer = group user/dunglx (dunglx)
	submit = group user/dunglx (dunglx)
[access "refs/heads/*"]
	read = group user/dunglx (dunglx)
	create = group user/dunglx (dunglx)
	push = +force group user/dunglx (dunglx)
	pushMerge = group user/dunglx (dunglx)
[access "refs/tags/*"]
	push = +force group user/dunglx (dunglx)
	pushTag = group user/dunglx (dunglx)
	pushSignedTag = group user/dunglx (dunglx)
